*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

header {
    padding: 0.2em;
    background-image: url(../IMG/FundoCabecalho.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    padding: 1em 1em 4em;
}

header img {
    width: 45px;
}

.entrar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.entrar button {
    padding: 1em;
    border-radius: 10px;
    width: 15em;
    font-size: 10px;
    background-color: #ffc836;
}

.pedido {
    display: block;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 1em;
}

.pedido h2 {
    padding: 1em;
}

.botaoInicio {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.pedido button {
    padding: 0.8em;
    width: 12em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 0.5em;
    background-color: #ffc836;
}

.pedido button img{
    width: 20px;
    padding-right: 1em;
}

.cardapio {
    display: block;
}
.divCardapio {
    display: flex;
    justify-content: start;
    padding-top: 1em;
}

.divCardapio ul {
    display: flex;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: start;
}

.divCardapio ul li img {
    width: 50px;
    padding-left: 10px;
}

.imagemDeFundo {
    display: flex;
    justify-content: end;
    padding: 5em 0 3em;
}

.imagemDeFundo img {
    width: 650px;
}

.McBrasil {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 2em 7em 4em;
}

.McBrasil p {
    padding: 0 8em;

}

.McBrasil img {
    width: 300px;
    padding: 5em 0 3em;
}

.tituloMcDonalds {
    display: flex;
    justify-content: start;
    font-size: 20px;

}
.McApp {
    display: flex;
    justify-content: center;
    padding: 5em;
}

.McApp img {
    width: 630px;
    border-radius: 10px;
}

.ilustrativo{
    width: 600px;
    border-radius: 10px;
}

.help {
    display: block;
    text-align: start;
    justify-content: space-between;
    padding-left: 1em;
}

.help h4 {
    font-size: 25px;
    padding-bottom: 1em;
}

.help details {
    display: block;
    justify-content: space-between;
    padding: 1em 0;
    font-size: 16px;
    align-items: center;
}

.help details summary {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1em 0;
}

.help details summary:hover {
    font-weight: bold;
    font-size: 18px;
}

.help details summary img {
    width: 20px;
}

.help details p{
    padding: 3em 2em 1em 0;
    font-size: 14px;
}

.perguntas {
    padding: 10em 1em;
}

.perguntas img {
    width: 80px;
    padding-bottom: 1.5em;
}

.perguntas details summary img {
    width: 20px;
}

details a {
    display: block;
    color: black;
    padding: 0.5em 0;
}
.mac {
    width: 50px;
    padding: 5em 0 1em;
}
.icones {
    display: flex;
    justify-content: start;
    padding: 0 0 1em;
}

.icones img{
    width: 25px;
    padding: 0.4em;
}
footer {
    display: block;
    text-align: start;
    padding-bottom: 2em;
}

footer a {
    display: block;
    margin-top: 2em;
    padding-left: 1em;
    color: #000000;
    font-size: 15px;
}
.linha {
    border-bottom: 2px solid #151449b7;
    width: 100%;
}